body {
    height: 850px;
    font-family: Arial, sans-serif;
    background-color: #e4e5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 350px;
    padding: 20px 30px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    color: #000;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: bold;
}

.subtitle a {
    color: #2112eb;
    text-decoration: none;
}

/*botones google y fb*/
.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.google-btn {
    border: 1px solid #f3eeee;
    padding: 12px;
    width: 75%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fb-btn {
    border: 1px solid #3b5998;
    margin-top: 3%;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.social-login img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social-login .btn-text {
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

/*or*/
.or {
    text-align: center;
    margin: 20px 0;
    color: #777;
    position: relative;
}

.or span {
    background-color: white;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}

.or:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    z-index: 1;
}

/*etiquetas*/
.email-login label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #aba8a8;
    font-weight: bold;
}

.email-login input {
    width: 100%;
    padding: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 12px;
}

.cta-btn {
    width: 100%;
    background-color: #4643b6;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    margin-top: 10px;
}

.forget-pass {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #4643b6;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}